@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Playball&display=swap");

* {
  font-family: "Noto Sans Arabic", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #147183;
  --secondary: #e53d21;
  --dark: #2f2f2f;
}

.english-font {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

.btn-primary,
.btn-secondary {
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  outline: none;
  border: none;
}

.btn-primary {
  background-color: var(--primary);
}
.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary {
  background-color: var(--secondary);
}
.btn-secondary:hover {
  opacity: 0.9;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* shared all over pages */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  z-index: 50;
  overflow: visible;
}

header img {
  width: 164px;
}

main {
  /* padding: 0 2rem 2rem; */
  padding-bottom: 2rem;
  margin-top: 10rem;
  flex: 1;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 2rem 1rem;
  background-color: var(--dark);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

footer a {
  color: white;
}

.hidden {
  display: none;
}

.active {
  border-bottom: solid 5px #fff;
}

/* shared across most pages */

.courses-cards-container {
  padding: 2rem;
  display: grid;
  direction: rtl;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: all 300ms;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px -3px var(--primary), 0 4px 6px -4px var(--primary);
}

.card img {
  width: 100%;
  display: block;
}

#user-section {
  padding: 0 1rem;
}

#user-section:hover {
  background-color: #eee;
}

.user-section {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  /* padding: 0 1rem; */
  border-radius: 8px;
  font-size: 14px;
}

#user-floating-section {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  width: 250px;
  min-width: 200px;
  z-index: 60;
  transform: translateY(100%);
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  border: 1px solid #eee;
}

.user-floating-links-list {
  list-style: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.user-floating-links-list a {
  display: block;
  color: black;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 8px;
}

.user-floating-links-list a:hover {
  background-color: #eee;
}

.my-subscriptions {
  width: 100%;
  background-color: var(--dark);
  text-align: right;
  transform: translateY(-30%);
  padding: 1rem 5rem;
  color: white;
}

.my-subscriptions ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.my-subscriptions ul a {
  color: #fff;
}

/* Extra small devices (phones, portrait mode) */
@media (max-width: 575px) {
  .btn-primary,
  .btn-secondary {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .user-text-container {
    display: none;
  }

  .my-subscriptions {
    transform: translateY(-10%);
  }
  .my-subscriptions ul {
    flex-direction: column;
    gap: 8px;
  }
}

/* Small devices (phones, landscape mode) */
@media (max-width: 767px) {
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}
