.hero-section {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border-bottom: 1px solid #eee;
  background-image: url("../../assests/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section img {
  width: 400px;
  animation: show-from-right 1500ms ease-in-out;
}

.hero-txt-container {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  animation: show-from-left 1500ms ease-in-out;
}

.hero-txt-container .underlined-word {
  display: flex;
  flex-direction: column;
}

.hero-txt-container svg {
  transform: translateY(-50%);
}

@keyframes show-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Extra small devices (phones, portrait mode) */
/* @media (max-width: 575px) {
} */

/* Small devices (phones, landscape mode) */
@media (max-width: 767px) {
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }

  .hero-section img {
    width: 250px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}
