.hero-section {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border-bottom: 1px solid #eee;
  background-image: url("../../assests/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section img {
  width: 400px;
  animation: show-from-right 1500ms ease-in-out;
}

.hero-txt-container {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  animation: show-from-left 1500ms ease-in-out;
}

.hero-txt-container .underlined-word {
  display: flex;
  flex-direction: column;
}

.hero-txt-container svg {
  transform: translateY(-50%);
}

#landing {
  height: 60vh;
  width: 100%;
  background-color: var(--primary);
  overflow-y: visible;
  position: relative;
  text-align: right;
}

#landing-img {
  width: 350px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#landing-cards-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.landing-card {
  color: var(--primary);
  font-size: 24px;
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
  overflow-y: visible;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 2px 6px -1px #000;
}

.landing-card img {
  width: 80px;
  transform: translate(20px, -20px);
}

.landing-card:nth-child(1) {
  transform: translateX(-100px) rotate(5deg);
  animation: float1 3s ease-in-out infinite;
}

.landing-card:nth-child(2) {
  transform: translateX(-20px) translateY(20px) rotate(15deg);
  animation: float2 3s ease-in-out infinite 200ms;
}

.landing-card:nth-child(3) {
  transform: translateX(-150px) rotate(20deg);
  animation: float3 3s ease-in-out infinite 400ms;
}

#landing-title {
  color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  font-size: 32px;
}

#landing-title h4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

#landing-title .line {
  width: 100px;
  height: 3px;
  background-color: #fff;
}

@keyframes show-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes float1 {
  0% {
    transform: translateX(-100px) rotate(5deg) translateY(0);
  }
  50% {
    transform: translateX(-100px) rotate(5deg) translateY(-20px);
  }
  100% {
    transform: translateX(-100px) rotate(5deg) translateY(0);
  }
}

@keyframes float2 {
  0% {
    transform: translateX(-20px) translateY(20px) rotate(15deg) translateY(0);
  }
  50% {
    transform: translateX(-20px) translateY(20px) rotate(15deg)
      translateY(-20px);
  }
  100% {
    transform: translateX(-20px) translateY(20px) rotate(15deg) translateY(0);
  }
}

@keyframes float3 {
  0% {
    transform: translateX(-150px) rotate(20deg) translateY(0);
  }
  50% {
    transform: translateX(-150px) rotate(20deg) translateY(-20px);
  }
  100% {
    transform: translateX(-150px) rotate(20deg) translateY(0);
  }
}

/* Extra small devices (phones, portrait mode) */
/* @media (max-width: 575px) {
} */

/* Small devices (phones, landscape mode) */
@media (max-width: 767px) {
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }

  .hero-section img {
    width: 250px;
  }
}

/* Medium devices (tablets) */
@media (max-width: 991px) {
  #landing {
    height: 50vh;
  }
  #landing-title {
    display: none;
  }
  #landing-img {
    width: 300px;
    /* z-index: 3; */
  }
  .landing-card {
    width: 200px;
    height: 50px;
    line-height: 1rem;
    font-size: 16px;
  }
  .landing-card:nth-child(1) {
    transform: translateX(10px) rotate(5deg);
  }

  .landing-card:nth-child(2) {
    transform: translateX(30px) translateY(10px) rotate(15deg);
  }

  .landing-card:nth-child(3) {
    transform: translateX(0px) rotate(20deg);
  }
}

/* Large devices (desktops) */
@media (max-width: 1199px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}
